footer{border-top:1px solid #e7e8e9;padding:20px;}
footer p{font-size:12px;color:#979797;text-align:center;}
tr td{height:40px;}
.bgcolor{background-color: #D9EDF7;}
table{border-collapse: collapse;border-color: #C7C6C6;width:100%;}
input {font-size: 16px;font-weight: normal;height:35px;line-height: 35px;margin: 0;vertical-align: baseline;*vertical-align: middle;}
thead.head{background-image:-moz-linear-gradient(top,#F6F6F6 0%,#D9D9D9 100%);
background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#F6F6F6),color-stop(1,#D9D9D9));}
thead tr th{height:40px;}
tbody{background: #FEFEFE;}
.main{width:100%;text-align: center;}
.trh{height:30px;}
.trbg{background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#F6F6F6),color-stop(1,#D9D9D9));}
#bg{ display: none; position: absolute; top: 0%; left: 0%; width: 100%; height: 340%; background-color: black; z-index:1001; -moz-opacity: 0.7; opacity:.70; filter: alpha(opacity=70);}
#win{display: none; position: absolute; top: 5%; left: 2%; width: 90%; height: 70%; padding: 8px; border: 2px solid #E8E9F7; background-color: white; z-index:1002; overflow: auto;}
